<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="editdocuments.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <editdocuments.Properties.Settings>
            <setting name="IsFilesOptionSelected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PicturePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImageHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImageLeftOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImageBottomOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlaceHolder" serializeAs="String">
                <value />
            </setting>
            <setting name="KeepAspect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSubFolderSelected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SubFolderSave" serializeAs="String">
                <value>PDF</value>
            </setting>
            <setting name="IsWordDocumentType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsRelativeToTextSelected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TopLeftOptionSelected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BottomLeftOptionSelected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TopRightOptionSelected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BottomRightOptionSelected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PageNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsPDFDocumentType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsRelativeToPageSelected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value />
            </setting>
            <setting name="isFolderOptionSelected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsSameFolderSelected" serializeAs="String">
                <value>False</value>
            </setting>
        </editdocuments.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
