<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

		<!-- Product Components -->
		<ComponentGroup Id="ProductComponents">

			<!-- Shortcut -->
			<ComponentRef Id="MainAppShortcut" />

		</ComponentGroup>

		<!-- Installed files -->
		<DirectoryRef Id="INSTALLFOLDER" FileSource="..\editdocuments\bin\Debug\">

			<!-- Shortcut to main application -->
			<Component Id="MainAppShortcut" Guid="{AB3967BC-C7D3-4DF0-89D4-F4E3A8536209}">

				<Shortcut Id="MainAppShortcut"
						  Name="!(loc.ProductName)"
						  Target="[INSTALLFOLDER]editdocuments.exe"
						  Directory="InstallProgramMenuFolder"
						  WorkingDirectory="INSTALLFOLDER"
						  Icon="icon.ico"
                  />

				<!-- Our unique key for this component/shortcut -->
				<RegistryValue Id="RegShortcutKey" Root="HKCU" Key="SOFTWARE\!(loc.ProductNameFolder)" Name="Shortcut" Value="1" Type="integer" KeyPath="yes" />

				<!--Remove start menu items -->
				<RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall" />

			</Component>

		</DirectoryRef>

	</Fragment>
</Wix>
